.container {
   
  }
  
  .welcome {
    
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
  }
  
  .thumbnail {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .thumbnail:hover {
    transform: scale(1.05);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .enlargedImage {
    width: 100%;
    height: auto;
  }
  