.contianer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: rgb(232, 232, 240);
    height: 63px;
}
.image{
    display: flex;
    align-items: center;
}
.subnav{
    /* display: flex; */
    margin: 12px;
    align-items: center;
   
}
.navbars{
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    /* padding: 13px; */
    padding-left: 12px;
}
.nav1 ul{
    display: flex;
}
.nav1 ul li{
   margin: 3px;
}
.imagecontainer img{
    /* position: absolute; */
    /* max-width: 100%;
    max-height: 50%; */
    width: 100%;
    height: 50%;
}
.imagecover{
  /* background-color: rgba(91, 15, 179, 0.5); */
  opacity: .5;
}
/* styles.module.css */
/* .imageContainer {
  position: relative;
} */

/* .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
} */

/* .image {
    max-width: 100%;
    max-height: 100%;
  } */
  .caption {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -30%);
    /* background-color: rgba(255, 255, 255, 0.8); */
    z-index: 1;
    
  }
  
  .text {
    /* position: absolute;
    top: 30%;
    left: 50%; */
    background-color: rgba(255, 255, 255, 0.8);
    color: #007bff;
    transform: translate(10%, 10%);
    text-align: center;
    font-weight: 1000;
    font-size: 20px;
    z-index: 1;
  }
  .buttonGroup {
    display: flex;
    transform: translate(10%, 5%);
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 20px 20px;
    margin-right: 10px;
    cursor: pointer;
    transform: translate(20%, 50%);
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:last-child {
    margin-right: 0;
  }
  
  /* .btn{
    display: flex;
    justify-content: space-around;
    color: rgb(11, 10, 77);
    transform: translate(10%, -50%);
   
  }
  .btn2{
    background-color: rgb(219, 209, 209);
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    border: 2px solid red;
    width:max-content;
    height: max-content;
  } */
/* .caption {
    position: absolute;
    bottom: 300px;
    left: 30%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-radius: 4px;
    font-weight: 1000;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  } */
  @media screen and (max-width: 500px) {
    .subnav {
      text-align: center;
      font-size: 12px;
      left: 22%;
    }
  
    .image {
      width: 20px;
      color: aqua;
    }
    .navbars{
        font-size: 10px;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       padding-left: 22px;
      }
      .nav1{
        font-size: 10px;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       padding-right: 32px;
      }
      .caption{
        font-size: 10px;
        left: 22%;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        /* transform: translate(20%, -50%); */
      }
  }