/* register.module.css */

.container {
    position: relative;
    background-color: #007bff;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #1521c5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* .maincontainer{
    background-color: #0e0b0b;
    max-height: 22px;
  } */
  .container h1{
    color: #ecd7d7;
    font-family: cursive;
    padding-left: 30%;
    font-size: 33px;
    justify-content: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .formGroup input[type='text'],
  .formGroup input[type='email'],
  .formGroup input[type='password'] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 9px;
    box-shadow: 2px 4px rgb(86, 138, 216);
  }
  
.container button[type='submit'] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container button[type='submit']:hover {
    background-color: #572525;
  }
  .container .btn[type='submit']:hover {
    background-color: #0e0b0b;
  }
  