
/* .rightcontainer {
    position: relative;
    margin: 12px;
    width: 240px;
    
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  /* .rightcontainer img{
    width: 20px;
    height: 28px;
    top: 104px;
    gap: 0px;
    opacity: 0px;
    
  } */
  
  /* .rightcontainer h1 {
    font-family: Avenir;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 20px;
    color: rgba(244, 105, 76, 1);
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: rgba(244, 105, 76, 1);
  } */
  
  /* .rightcontainer h3 {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    font-size: 15px;
    color: #0F3F62;
    font-style: normal;
    font-weight: 800;
    
  } */
  
  /* .list {
    list-style: none;
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid rgb(182, 169, 169);
    color: #8695A0;
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.28px;
  } */
  /* .list li {
    display: flex;
    align-items: center;
    padding: 10px;
  } */
  /* .list1 {
    list-style: none;
    color: #a08686;
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    letter-spacing: 0.28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  } */
  
  /* .sit {
    padding-right: 24px;
    padding-right: 10px;
  } */
  /* .list1 h3 {
    padding: 10px;
  } */
  /* rightbar.module.css */
  /* Existing styles */
  /* .list1 {
    list-style: none;
    color: #8695A0;
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
   
    letter-spacing: 0.28px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
  } */
  
  /* .list1 li {
    display: flex; 
    align-items: center; 
    padding: 10px;
  } */
  
  /* .list1 li img {
    margin-right: 10px; 
  } */
/*   
  .logo{
    width: 20px;
  height: 8px;
  top: 104px;
  gap: 0px;
  opacity: 0px;
  
  } */
  
   /* a:hover {
    background-color: #1c2831;
    opacity: 33px;
    border-radius: 14px;
    transition: 10ms;
  }  */
  
/* styles/styles.css */

/* .vertical-navbar {
    display: flex;
    flex-direction: column;
    background-color: #333; 
    padding: 20px;
  }
  
  .vertical-navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .vertical-navbar li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .vertical-navbar li img {
    width: 300px; 
    height: 300px;
    margin-right: 10px;
  }
  
  .vertical-navbar li a {
    color: #fff; 
    text-decoration: none;
  } */
  