/* .slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
  
    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: background-image 0.5s ease-in-out;
    } */
  
    /* .controls {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      pointer-events: none; */
/*   
      button {
        pointer-events: auto;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        padding: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 50%;
  
        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  } */
  