/* styles/PictureSlider.module.css */

/* .picture-slider {
  position: relative;
  width: 100%;
} */

/* .controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
} */
.container {
  display: flex;
  justify-content: center;
  align-items: center;


}


.imageContainer {
  width: 500px; 
  height: 300px; 
  overflow: hidden; 
  margin: 1px;
  /* border: 2px solid rgb(189, 163, 163); */
  box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.2);
}

/* .container button {
  margin: 10px;
} */

  